form.appoiment {
    display: flex;
    margin-top: 1.5em;
    flex-direction: column;
    align-items: center;
}

form.appoiment .p-calendar,
form.appoiment .p-inputtext {
    margin-bottom: 1em;
    padding: 1em;
    width: 70%;
    height: 2.5em;
}

form.appoiment .p-dropdown {
    margin-top: .5em;
    margin-bottom: .5em;
    height: 50px;
    max-width: 40%;

}